.sec-01 {
  background: url("../img//sec-01-02.jpg") no-repeat top right;
  background-size: 36%;
  display: flex;
  align-items: center;
  .img-wrapper {
    max-width: 14rem;
  }
  @include media-breakpoint-down(xs) {
    background-size: 60%;
  }
}
.sec-02 {
  .block {
    position: relative;
  }
  .text {
    position: absolute;
    top: 0;
    width: 60%;
    margin-top: 3rem;
    .title {
      min-height: 4rem;
      overflow: hidden;
    }
    @include media-breakpoint-down(xs) {
      .title {
        min-height: 0;
      }
    }
  }
  .left-block {
    .text {
      right: 0;
    }
  }
  .right-block {
    .text {
      left: 0;
    }
  }
  .text.reverse {
    color: white;
  }
}

.sec-03 {
  .text.sec-text {
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    @include media-breakpoint-down(xs) {
      align-items: center;
    }
    .title {
      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        bottom: -0.3rem;
        // width: 100%;
        left: 0;
        right: -2rem;
        height: 2px;
        background: theme-color("orange");
      }
    }
    p {
      color: #666666;
      padding: 0;
    }
  }
  .swiper-button-black.swiper-button-circle {
    background: white !important;
    border: 2px solid #cccccc;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    transform: translateY(-3rem);
    &:after {
      font-size: 1rem;
    }
    &:focus {
      border: none;
    }
  }
  .swiper-container {
    width: 96%;
    .swiper-item {
      text-align: center;
    }
    .img-wrapper {
      display: flex;
      justify-content: center;
    }
  }
  .text {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    .date-box {
      width: 88px;
      height: 66px;
      border: 2px solid #cccccc;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .month {
        position: relative;
        font-size: smaller;
        &:after {
          position: absolute;
          content: "";
          width: 12px;
          height: 1px;
          display: inline-block;
          border-bottom: 1px solid black;
          bottom: 0;
          left: 6px;
        }
      }
      .date {
        font-size: large;
      }
    }
    p {
      padding-left: 10px;
    }
  }
}
.sec-04 {
  background: #efefef;
  .sec-text {
    p {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .card {
    border: none;
    border-radius: 0;
    .card-title {
      font-size: small;
      color: theme-color("orange");
      margin-bottom: 0.2rem;
    }
    .card-text {
      font-size: medium;
      min-height: 3rem;
      overflow: hidden;
    }
    .card-img,
    .card-img-top {
      border-radius: 0 !important;
    }
    .card-body {
      padding: 1rem;
    }
  }
}
.sec-05 {
  background-image: url("../img/sec-05-bg-01.png"),
    url("../img/sec-05-bg-02.png");
  background-position: top right,
    /* this positions the first image */ bottom left; /* this positions the second image */
  background-repeat: no-repeat; /* this applies to both images */
  background-size: 36%, 26%;

  .bs-example {
    margin: 20px;
  }
  .rotate {
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    -moz-transform: rotate(90deg); /* Firefox */
    -ms-transform: rotate(90deg); /* IE 9 */
    transform: rotate(90deg); /* Standard syntax */
  }
  #accordionQA {
    .card {
      box-shadow: 0 0 5px #b6b6b6;
      border-radius: 12px;
    }
    .card-header {
      background: white;
      border: none;
      padding: 1rem 1.25rem;
      h2 {
        display: flex;
        justify-content: space-between;

        a.card-header-link {
          display: flex;
          align-items: center;
          .title {
            position: relative;
            padding-left: 3.2rem;
            font-size: medium;
            &::before {
              position: absolute;
              content: "";
              width: 38px;
              height: 38px;
              background: theme-color("primary") url("../img/ico-q.png")
                no-repeat center center;
              // background-size: 70%;
              border-radius: 50%;
              left: 0;
              top: calc(50% - 19px);
            }
          }
          display: flex;
          justify-content: space-between;
          width: 100%;
        }
      }
    }
    .card-body {
      position: relative;
      &::before {
        content: "";
        // width: 96%;
        height: 1px;
        display: inline-block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        position: absolute;
        top: 0;
        left: 1.5rem;
        right: 1.5rem;
      }
    }
    .ico-wrapper {
      width: 24px;
      min-width: 24px;
      display: inline-block;
    }
    .ico-expandable {
      width: 100%;
      transition: all 0.2s;
      opacity: 0.5;
    }
    .ico-expanded {
      transform: rotate(180deg);
    }
  }
}
/* Extra Small Devices, Phones */
@include media-breakpoint-down(xs) {
  .block .text {
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 0;
  }
  .sec-03 {
    .swiper-container {
      width: 80%;
    }
  }
}
