.jumbotron-with-bg-img {
  background: url("../img/banner-01.jpg") no-repeat top left;
  background-size: cover;
}
.jumbotron-h1 {
  font-weight: 700;
  align-items: center;
  font-size: 2rem;
}
/* Extra Small Devices, Phones */
@include media-breakpoint-down(xs) {
  .jumbotron-with-bg-img {
    background: url("../img/banner-01.jpg") no-repeat top left;
    background-size: cover;
    background-position: center center;
    border: 2px solid red;
  }
}
