$theme-colors: (
  "primary": #224472,
  "dark": #000000,
  "orange": #f36e22,
);
// Typography
// Typography
$font-size-base: 12px; // this changes the font-size throughout bootstrap
$font-size-base: 0.875rem;
$line-height-base: 1.6;
// $font-family-yahei: " Microsoft YaHei ",
//   "WenQuanYi Micro Hei"," Helvetica Neue ", Helvetica, Arial,
//   " PingFang SC”,
//   " Hiragino Sans GB ", " Heiti SC ", sans-serif;
// $font-family-base: $font-family-yahei !important;
