$theme-colors: (
  "primary": #224472,
  "dark": #000000,
  "orange": #f36e22,
);

@import "node_modules/bootstrap/scss/bootstrap";
@import "header";

body {
  padding-top: 56px;
}
.footer {
  margin-top: 3rem;
}
.navbar {
  border-bottom: 1px solid #eee;
}
